# CRM360 Environment Configuration
VITE_SUPABASE_URL="https://c--95b2d378-41a8-431e-9c3a-1923f712c86a-prod.lovable.cloud"
VITE_SUPABASE_PUBLISHABLE_KEY="sb_publishable_NKy-DBH3xkgeb9K_64VlsQ_h7SOBKfT"
VITE_SUPABASE_PROJECT_ID="khhfahwclbdmnrdirzne"

SUPABASE_URL="https://c--95b2d378-41a8-431e-9c3a-1923f712c86a-prod.lovable.cloud"
SUPABASE_PUBLISHABLE_KEY="sb_publishable_NKy-DBH3xkgeb9K_64VlsQ_h7SOBKfT"
SUPABASE_PROJECT_ID="khhfahwclbdmnrdirzne"
